.Services .one {
    background-color: var(--section-bg);
    color: var(--body-color);
}
.Services i{
    color: var(--main-color);
}
.Services .d-flex{
    font-size: 20px;
    font-weight: 500;
}