.Api h3 {
    font-size: 50px;
    color: var(--main-color);
    text-align: center;
    font-weight: bold;
}
.Api p{
    font-weight: 400;
}
.Api .one{
    background-color: #fff;
}
.Api .process i{
    padding: 12px 10px;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}


.api_details  .img_pro{
    background-color: #fff;
    min-height: 400px;
}
.api_details  .img_pro img{
    width: 100%;
}
.api_details  .pro_details{
    background-color: #fff;
    min-height: 400px;

}
.api_details strong{
    color: var(--main-color);
}
.api_details .stars i{
    color: gold;
    margin-right: 5px;
}
.api_details .description{
    font-weight: 500;
    opacity: 0.7;
}
.api_details button{
    width: 200px;
    padding: 12px 0;
    border: none;
    background-color: var(--main-color);
    color: #000;
    font-size: 20px;
    border-radius: 8px;
}