.Product .h2 {
    color: var(--main-color);
}
.Product .fa-star{
    color: gold;
}
.Product .proces i{
    padding: 10px 8px ;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 3px;
    cursor: pointer;
}
.Product .one div{
    overflow: hidden    ;
}
.Product .one div img{
    transition: 0.5s;
}
.Product .one div img:hover{
    transform: scale(1.1);
}