nav{
    background-color: #3d464d !important;
    color: #fff;
}
.navbar-brand{
    color: #fff !important;
    font-weight: bold;
    font-size: 25px !important;
}
.navbar-brand span{
    color: var(--main-color);
}
.nav-link{
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}
.nav-link:hover{
    color: var(--main-color) !important;
}
nav .icones{
    color: var(--main-color);
}
nav .icones sub{
    color: #fff;
}
.dropdown-menu {
    background-color: var(--main-color) !important;
    padding: 10px !important;
    width: 200px;
}
.dropdown-menu a {
    font-weight: 500  !important;
    font-size: 18px;
}
.icones a {
    color: var(--main-color);
}